*.o
*.swp
GenSVM_train
GenSVM_grid
doc/*
training/*
codegrep*
log*
gensvm
gensvm_grid
*.gcno
*.gcda
cover/*
tests/bin/
tests/data/test_write_model.txt
tests/tests.log
doc/html/
tests/data/test_progress_string.txt
tests/data/test_write_model.txt
